.wrapper {
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
  font-variant-numeric: tabular-nums;
  font-family: var(--font-mono);
  font-weight: 700;
}

.sm {
  font-size: 0.875rem;
}

.md {
  font-size: 1rem;
}

.lg {
  font-size: 1.25rem;
}
